* {
    box-sizing: border;
    margin: 0;
    padding: 0;    
}
img {
    width: 100%;
    height: auto;
}
ul,li{
    list-style: none;
}
a {
    text-decoration: none;
}
h1{
    border: 2px solid red;
}
.nav{
    border: 2px solid blue;
    width: 400px;
}
.ul {
    display: flex;
    gap: 20px;
}
.header_container{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}